extends layout

block content
  div.card.mb-4
    div.card-body.p-5.text-center
      h1.display-4.fw-bold.mb-3
        span.text-primary My
        span Library
      p.lead.mb-4 A modern, minimalist digital library for your book collection.
  
  div.row.mb-4
    div.col-md-6
      div.card.h-100
        div.card-body.p-4
          div.d-flex.align-items-center.mb-3
            div.rounded-circle.bg-primary.p-3.me-3
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16")
                path(d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z")
            h3.m-0 Books
          p.lead.mb-3.fw-bold #{book_count}
          p.mb-4 Explore our collection of great literature
          a.btn.btn-outline-primary(href='/books') Browse Books
    
    div.col-md-6
      div.card.h-100
        div.card-body.p-4
          div.d-flex.align-items-center.mb-3
            div.rounded-circle.bg-secondary.p-3.me-3
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16")
                path(d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z")
            h3.m-0 Authors
          p.lead.mb-3.fw-bold #{author_count}
          p.mb-4 Discover the minds behind your favorite books
          a.btn.btn-outline-secondary(href='/authors') Meet Authors